# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/

# Secrets
.env
.env.*
*.key
*.pem
*.token

# Official competition data
competition.zip
*.zip
data/input/*.csv

# Outputs
outputs/submissions/*.csv
outputs/figures/*

# Local references
references/**/*.pdf
references/**/*.pptx
references/**/*.txt

# OS
.DS_Store
Thumbs.db
